:root {
    --text-primary: #333;
    --text-secondary: #555;

    --background-primary: #fcfcfc;
    --sidebar-background: #f0f0f0;
    --sidebar-hover: #d0d0d0;
    --border-color: #e0e0e0;

    --sidebar-width: 15vw;
    --channel-header-height: 130px;
    --avatar-size: 30px;

    --thread-container-width: 30vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    background-color: var(--background-primary);
    color: var(--text-primary);
}

#app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.channels-sidebar {
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--sidebar-background);
    border-right: 1px solid var(--border-color);
    overflow-y: scroll;
    padding: 0.8rem 1.2rem;
}

.channels-sidebar h1 {
    margin-left: 0.5rem;
}

.channel-list {
    list-style-type: none;
    margin-top: 1rem;
}

.channel-list li {
    margin: 0;
}

.channel-list li button {
    background-color: transparent;
    margin: 0;
    padding: 0.4rem 0 0.4rem 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    text-align: left;
    border-radius: 5px;
}

.channel-list li button:hover {
    background-color: var(--sidebar-hover);
}

.channel-content {
    height: 100%;
    width: calc(100% - var(--sidebar-width) - var(--thread-container-width));
    flex-grow: 1;
}

.channel-header {
    height: var(--channel-header-height);
    padding: 0.8rem 1.5rem;
    border-bottom: 1px solid var(--border-color);
}

.channel-header h1 {
    margin-bottom: 0.6rem;
}

.channel-header p {
    color: var(--text-secondary);
}

.message-container {
    height: calc(100vh - var(--channel-header-height));
    padding: 0.5rem 1.5rem;
    overflow-y: scroll;
}

.message {
    margin: 1.5rem 0;
    display: flex;
    gap: 1rem;
}

.message .avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    transform: translateY(5px);
    border-radius: 10px;
    object-fit: cover;
}

.message .fallback-avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    transform: translateY(5px);
    border-radius: 10px;
}

.message .message-inner-container {
    display: flex;
    flex-direction: column;
}

.message .message-inner-container .user-and-time {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.message .message-inner-container .user-and-time .name {
    font-size: 1rem;
    font-weight: 600;
}

.message .message-inner-container .user-and-time .time {
    font-size: 0.8rem;
    color: var(--text-secondary);
}

.message .message-inner-container .user-mention {
    color: blue;
}

.message .message-inner-container .channel-mention {
    color: blue;
}

.message .message-inner-container .broadcast-mention {
    color: blue;
}

.message .message-inner-container .message-content {
    margin-top: 0.2rem;
    font-size: 1.1rem;
    vertical-align: middle;
}

.message .message-inner-container .message-content p:not(:first-child) {
    margin: 0.4rem 0;
}

.message .message-inner-container .message-content ul {
    margin: 0 0 0.8rem 2rem;
}

.message .message-inner-container .message-content ol {
    margin: 0 0 0.8rem 2rem;
}

.message .message-inner-container .message-content blockquote {
    display: inline-block;
    margin: 0.4rem 0;
    padding: 0.2rem 0.8rem;
    border-left: 4px solid #ccc;
}

.message .message-inner-container .message-content code {
    display: inline-block;
    font-size: 1rem;
    font-family: monospace;
    color: orangered;
    background-color: rgba(255, 220, 154, 0.4);
    border-radius: 5px;
    padding: 0rem 0.4rem;
    padding-top: 5px;
    margin: 0 0.3rem;
}

.message .message-inner-container .message-content pre {
    margin: 0.4rem 0;
    padding: 0.5rem;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.message .message-inner-container .message-content pre code {
    background-color: transparent;
    color: var(--text-primary);
}

.replies {
    font-size: 14px;
    color: blue;
    margin-top: 0.2rem;
    cursor: pointer;
}

.thread-container {
    height: 100vh;
    width: var(--thread-container-width);
    padding: 0.5rem 1.5rem;
    overflow-y: scroll;
    border-left: 1px solid var(--border-color);
}

.thread-container .thread-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.thread-container .thread-header .close {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--text-secondary);
    font-size: 2.2rem;
}
