<!-- templates/channel.html -->
<div id="channel-content">
    <div class="channel-header">
        <h1>#{{ channel.name }}</h1>
        <p><b>Topic</b>: {{ channel.topic }}</p>
        <p><b>Purpose</b>: {{ channel.purpose }}</p>
    </div>
    <div class="message-container">
        <div
            hx-get="/messages/{{ channel.id }}?per_page=10"
            hx-target="this"
            hx-swap="outerHTML"
            hx-trigger="load"
        >
            Loading...
        </div>
    </div>
</div>

<!-- remove opened threads if any-->
<!-- hx-get has this empty data url so that i donot have to install hyperscript -->
<div
    hx-trigger="load"
    hx-get="data:text/html,"
    hx-swap="delete"
    hx-target=".thread-container"
></div>
