<div class="message-container">
    <div id="backward-event">Loading</div>
    <div id="page-1">
        {% for message in messages %}
            <div class="message" id="{{ message.id }}">
                <div class="user-info">
                <img class="avatar" src="{{ message.user.avatar_url }}" alt="User Avatar">
                <span class="name">{{ message.user.name }}</span>
                </div>
                <div class="message-content">
                <p>{{ message.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div hx-get="/messages/{{ channel.name }}?page=2&per_page={{per_page}}" hx-target="this" hx-swap="outerHTML" hx-trigger="load">Loading...</div>
    <div hx-get="/messages/{{ channel.name }}?page=3&per_page={{per_page}}" hx-target="this" hx-swap="outerHTML" hx-trigger="load">Loading...</div>
    <div id="forward-event" hx-get="/messages/{{ channel.name }}?page=4&per_page={{per_page}}&pane=forward" hx-target="#page-3" hx-swap="afterend" hx-trigger="revealed"></div>
    <div>Loading</div>
</div>
