<!-- templates/channel_page.html -->
<div id="page-since-{{last_msg_timestamp}}">
    {% for message in messages %}
    <div class="message" id="{{ message.timestamp }}{{ message.user_id}}">
        <img
            class="avatar"
            src="{{ message.user.image_url }}"
            alt="User Avatar"
            hx-trigger="error"
            hx-swap="outerHTML"
            hx-get="/fallback-avatar"
            hx-target="this"
        />
        <div class="message-inner-container">
            <div class="message.user-and-time">
                <span class="name">{{ message.user.name }}</span>
                <span class="time"> {{ message.formatted_timestamp }} </span>
            </div>
            <div class="message-content">{{ message.text|safe }}</div>
            {% if message.thread_count > 0 %}
            <div
                class="replies"
                hx-get="/replies?ts={{ message.timestamp }}&user_id={{ message.user_id }}&channel_id={{ channel_id }}"
                hx-trigger="click"
                hx-swap="innerHTML"
                hx-target=".thread-content"
            >
                <span>{{ message.thread_count }} replies -></span>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %} {% if self::generate_trigger(messages) %}
    <div
        hx-get="/messages/{{ channel_id }}?last_msg_timestamp={{ last_msg_timestamp }}&per_page=10"
        hx-trigger="intersect once"
        hx-swap="beforeend"
        hx-target=".message-container"
    ></div>
    {% endif %}
</div>
