<!-- templates/index.html -->
{% extends "base.html" %} {% block content %}
<head>
    <title>{{ title }} : {{ description }}</title>
</head>
<div class="channels-sidebar" id="main">
    <h1>{{ title }}</h1>
    <div id="channel-list">
        <ul class="channel-list">
            {% for channel in channels %}
            <li>
                <button
                    hx-trigger="click"
                    hx-target="#channel-content"
                    hx-get="/channels/{{ channel.name }}?page=1&per_page=10"
                    hx-swap="outerHTML"
                >
                    {{ channel.name }}
                </button>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="search-bar">
    <h3> 
        Search Contacts 
        <span class="htmx-indicator"> 
          <img src="/img/bars.svg"/> Searching... 
        </span> 
    </h3>
    <input class="form-control" type="search" 
            name="search" placeholder="Begin Typing To Search Users..." 
            hx-post="/search" 
            hx-trigger="input changed delay:500ms, search" 
            hx-target="#search-results" 
            hx-indicator=".htmx-indicator">
    
    <table class="table">
        <tbody id="search-results">
        </tbody>
    </table>
</div>

<div class="channel-content">
    <div
        id="channel-content"
        hx-trigger="load"
        hx-target="this"
        hx-get="/channels/general?page=1&per_page=10"
        hx-swap="outerHTML"
    ></div>
</div>

<div class="thread-content"></div>
{% endblock %}
